body {
    padding: 0%;
    flex-direction: column;
   
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    background-color: #e10600;
}
.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.btn-outline-success {
    color:white;
    border-color:white;
}
.contenedor{
    width: 100%;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}
.left {
    position: absolute;
    left: 10px;
    background-color: #e10600;
    width: 680px;
    height: 580px;

}
.left h2 {
   color: white;
    left: 10%;
    top: 7%;
    position: relative;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive; 
}
.left p {
    color:white ;
    width: 510px;
    height: 75px;
    position: relative;
    left: 10%;
    top: 10%;

}
.derecha {
    padding: 10px; 
    margin: 10px; 
    float: right; 
    width: 550px;
    height: 600px;
}
.text {
    color: rgb(231, 5, 5);
    left: 49%;
    top: 590px;
    position: relative;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive; 

}
.conten {
    position: relative;
    top: 590px;
    background-color:black;
    width: 100%;
    height: 20px;
    left: 10px;
    right: 10px;
}
.Hermosis {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.card-img-top {
    display: block;
    width: 50%;
    height: auto;
    margin-left: 60px;
}
.card {
    margin-left: 20px;
    margin-right: 20px;

}
.card-title {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
#modo{
    width: 30px;
    font-size: 40px;
    margin: auto;
    cursor: pointer;
    margin-right: 40px;
    color: white;
}
.dark{
    background: rgb(4, 24, 27);
}

.dark h1{
    color: white;
}

.dark .descripcion{
    color: rgb(209, 208, 208);
}
.dark #modo{
    color: rgb(230, 176, 76);
}
.dark .card{
    background: rgb(16, 43, 51);
}
.dark p{
    color: rgb(211, 211, 211);
}
.dark h2{
    color: white;
}
.dark .enlace{
    background: rgb(13, 84, 117);
}
.dark .card .text {
    color: white;
}